*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 68px;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
}

img{
    vertical-align: middle;
    margin-bottom: 18px;
    margin-left: 10px;
}

h1{
    display: inline-block;
    font-size: 2.5rem;
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: white;
    border-radius: 3px;
}

.buttonroom{
    height: 55px;
    margin-bottom: 2px;
}

button{
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: #47ADF1;
    color: white;
    margin: 15px 2px;
    margin-left: 60px;
}

input{
    width: 98px;
    height: 33px;
    border-radius: 6px;
    border-width: 2px;
    border-color: lightgray;
    border-width: thin;
    border-style: solid;
    text-align: center;
}

.list{
    padding: 34px 62px;
}

ul{
    list-style-type: none;
    margin-bottom: 25px;
}

.list-when{
    margin-bottom: 5px;
}

li{
    margin: 15px;
}

.first{
    margin-top: 10px;
}

.mark{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 2px;

}

.check {
    color: #68C2AC;
}

.ballot {
    color: #EC7974;
}

.Pill{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-size: 0.7rem;
    color: white;
    font-weight: 100;
    border-radius: 10px;
    width: 64px;
    height: 25px;
}

.Editorial{
    background-color: #45ABEA;
}

.Q1Goals{
    background-color: #9C72E4;
}

.Recruiting{
    background-color: #7ECDBC;
}

.Mobile{
    background-color: #F29E33;
}

.Website{
    background-color: #D863A1;
}

.Sales{
    background-color: #B0C926;
}